/* Possible tidy up: use padding to keep background colour. This is because background colour is applied not to the actual background, but to the element's background.*/

body {
    display:flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.hero {
    display:flex;
    justify-content:space-between;
}

.hero, .hero-banner, footer {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero-secondary-text, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    margin-right: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    /* Need to sort out spacing between items */
}

.hero-banner {
    display: flex;
    flex-grow: 1;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-banner-left {
    margin-left: 100px;
    padding-right: 200px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 100px;
    margin-top: 20px;
}

.hero-secondary-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-sign-up-one {
    color:#F9FAF8;
    font-weight: bold;
    background-color: #3882F6;
    margin-top: 50px;
    padding: 20px 40px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}

.banner-image {
    height: auto;
    width: 400px;
    margin-right: 100px;
}

.call-to-action {
    background-color: #3882F6;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.main-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-four {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-text {
    text-align: center;
    padding-top: 10px;
    padding-left: 58px;
    padding-right: 58px;
}

.main-text-images {
    display: flex;
    justify-content:center;
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 30px;
    padding-bottom: 60px;
}

.main-image-one {
    height: auto;
    width: 200px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.main-image-two {
    height: auto;
    width: 200px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.main-image-three {
    height: auto;
    width: 200px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.main-image-four {
    height: auto;
    width: 200px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 100px;
}

.quote-attribute {
    /* margin-left: 900px;
    margin-right: 200px; */
    font-weight:bolder;
    color: #1F2937;
    padding-bottom: 150px;
}

.call-to-action {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    border-radius: 10px;
}

.cta-one, .cta-two {
    color: #E5E7EB;
    font-size: 24px;
}

.cta-one {
    font-weight: bolder;
}

.cta-text {
    display: flex;
    flex-direction: column;
}

.btn-sign-up-two {
    padding: 20px 40px;
    border-style: solid;
    border-color: #E5E7EB;
    background-color: #3882F6;
    color: #E5E7EB;
    cursor: pointer;
    border-radius: 10px;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-text {
    color: #E5E7EB;
    text-align: center;
}
