body {
    display:flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.hero {
    display:flex;
    justify-content: space-between;
}

.hero, .hero-banner, footer {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero-secondary-text, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}

li {
    list-style: none;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    color: #3882F6;
}

.call-to-action {
    background-color: #3882F6;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}
